<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %p - %C{1} - %m%n" />
		</layout>
	</appender>

	<appender name="FILE" class="org.apache.log4j.FileAppender">
		<param name="File" value="log/auto-unrar.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %p - %C{1} - %m%n" />
		</layout>
	</appender>

<!--	<appender name="DAILY_ROLLING" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="log/auto-unrar.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %p - %C{1} - %m%n" />
		</layout>
	</appender>
-->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
</log4j:configuration>
